.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/bg/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
